extends layout

block content
	h3 Bienvenido Chat ICR PERU
	div#login
		p Nickname:
				input#nickname
	div#chat
		ol#messages
		
		div
		input#message(type='text')
		button#submit-message(type='button') Subtmit
		
